@charset "UTF-8";

/* Configurações gerais */

* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #B3A6A1;
} 

h1 {
    color: white;
    background-color: #698C69;
    font-size: 1.7em;
    height: 70px;
    text-align: center;
    padding-top: 30px;
    text-shadow: 2px 2px 0px #b3a6a168;
}